<div class="container text-center">

   <h2>{{lyric.VideoName}}</h2>

   <youtube-player
      [videoId]="lyric.idVideoYoutube"
      suggestedQuality="default"
      [height]="250"
      [width]="600">
   </youtube-player>

   <div class="text-center border-right border-left rounded mx-4 px-4 my-3 py-3">
      <h4>Vamos A Escuchar</h4>
      <form (submit)="playLyric($event)" [formGroup]="form">
         <div class="text-center">
            <div
               [innerHTML]="lyric.phrases | sanitizeHtmlPipe"
               formArrayName="wordsAnswered"
            ></div>
         </div>
         <br>
         <button class="btn btn-success">¿Como Nos Fue?</button>
      </form>
   </div>

</div>
